<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Management</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container mt-5">
  <form id="bookForm" class="p-4 bg-light rounded" action="/submit" method="post">
    <h2 class="mb-4">Library Management</h2>

    <div class="form-group">
      <label for="bookName">Enter Book Name:</label>
      <input type="text" class="form-control" id="bookName" required>
    </div>

    <button type="submit" class="btn btn-primary">Add Book</button>
  </form>

  <div id="bookList" class="mt-4 book-list">
    <!-- Book items will be appended here -->
  </div>
</div>

<div class="container">
<h3 id="h3">Returned Books</h3>
<div id="returnList"></div>
</div>

<script src="js/index.js"></script>
</body>
</html>
